.top{
    -fx-background-color: #eee;
    -fx-border-width: 0px 0px 0.3px 0px;
    -fx-border-color: black;
}
.menu-file{
    -fx-background-color:#eee;
    -fx-font-size: 15px;
    -fx-text-fill: #333;
}
.menu-file:hover{
    -fx-underline: true;

}
.btn-cerrar{
    -fx-background-color: rgb(100,00,00);
}
.btn-cerrar:hover{
    -fx-background-color: rgb(250,00,00);
    -fx-opacity: 0.9;
}
.btn-maximizar{
    -fx-background-color: rgb(200,150,00);
}
.btn-maximizar:hover{
    -fx-background-color: rgb(250,190,00);
    -fx-opacity: 0.9;
}
.btn-ocultar{
    -fx-background-color: #aaa;
}
.btn-ocultar:hover{
    -fx-background-color: #ccc;
    -fx-opacity: 0.9;
}

/*
        TABLE VIEW 
*/
.table-view{
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-radius: 8px;
    -fx-padding: 0px;
}
.table-view .table-column{
    -fx-alignment: CENTER;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 8px 8px 0px 0px;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size: 40px;
}
.table-view .column-header .label{
    -fx-text-fill: #fff;
    -fx-font-family: "Arial";
}